*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*Utilities*/
.d_flex{
    display: flex;
}
.flex{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
}
.row{
    display: flex;
}


.sidebar {
    width: calc(100% / 12 * 2);
}
.col_2{
    width: calc(100% / 12 * 2);
}
.col_10{
    width: calc(100% / 12 * 10);
}
a{
    text-decoration: none;
}
img{
    max-width: 95%;
}
.container{
    padding-top: 2rem;
    width: 95%;
    margin: auto;
    color: white;
}

/*debug*/
/*.list{
    width: 100%;
    height: 200px;
    background-color: aquamarine;
}
.account{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}*/

/*Main*/

main .d_flex .sidebar {
    background-color: #000000;
}
.sidebar .logo{
    padding: 2rem;
    width: 70%;
}
.sidebar .icons .home{
    color: white;
    padding-left: 2rem ;
    padding-top:5px;
    padding-bottom:5px;
    border-left: 3px solid #ADFF2F;
}
.sidebar .icons .home a{
    color: white;
}
.sidebar .icons .near{
    color: #7D7F84;
    padding-top: 1rem;
    padding-left: 2.2rem ;
}
.sidebar .icons .near a{
    color: #7D7F84;
}
.sidebar .icons .shelf{
    color: #7D7F84;
    padding-top: 1rem;
    padding-left: 2rem;
}
.sidebar .icons .shelf a{
    color: #7D7F84;
}
.icons p {
    padding-top: 1rem;
    padding-left: 2rem;
}
.icons p a{
    color: white;
}
.sidebar .icons .playlist{
    padding-left: 2rem;
    padding-top: 1rem;
}
.sidebar .icons .playlist .add{
    width: 30px;
    height: 30px;
    font-size: 18px;
    background-color: #A3A3A3;
    justify-content: center;
    align-items: center;
}
.sidebar .icons .playlist p{
    color: #7D7F84;
    position: relative;
    bottom: 40px;
    left: 5px;
}
.sidebar .icons .lists{
    padding-left: 2rem;
    color: #7D7F84;
}
.sidebar .icons .lists ul{
    list-style: none;
}
.sidebar .icons .lists li{
    padding-bottom: 1rem;
}
.sidebar .icons .lists li a{
    color: #7D7F84;
}

.sidebar .account .download{
    padding-left: 2rem;
    color: #7D7F84;
}
.sidebar .account .download a{
    color: #7D7F84;
}
.sidebar .account .line{
    padding: 0.5rem 0;
    margin: auto;
    width: 80%;
}
.sidebar .account .user{
    padding: 0.5rem 0 0.5rem 2rem;
    color: #7D7F84;
    align-items: center;
}
.sidebar .account .user a{
    color: white;
}
.sidebar .account .user i{
    font-size: 25px;
    padding-right: 5px;
}
main .d_flex .col_10{
    height: calc(100vh - 80px);
    background-color: #141922;
    overflow: hidden;
}

main .header_fix{
    width: 100%;
    height: 80px;
    background-color: #080B12;
    position: sticky;
    top: 0;
}
main .header_fix .btn{
    padding-top: 1.5rem;
    text-align: end;
}
main .header_fix .btn .btn_dark{
    background-color:#080B12 ;
    border: 1px solid white;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}
main .header_fix .btn a{
    color: white;
}
main .menu ul {
    list-style:none;
    text-align: center;
}
main .menu ul li{
    display: inline-block;
    padding: 1rem 1rem 0.2rem 1rem;
}
main .menu ul li a{
    color: #7D7F84;
}
/*footer*/
#site_footer{
    height: 80px;
    background-color: #282828;
}